<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Hypebeast Scraper</title>
  <script src="https://code.jquery.com/jquery.js"></script>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

</head>

<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo left">Hypebeast Scraper</a>
    </div>
  </nav>

  {{{ body }}}

  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">MongoDB Homework</h5>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        2018 Hypebeast Scraper
      </div>
    </div>
  </footer>

<script type="text/javascript" src="/app.js"></script>
</body>

</html>